/* ===========
  Sweet Alert
 =============*/

.sweet-alert {
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
  .icon.success {
    .placeholder {
      border: 4px solid rgba($success, 0.3);
    }
    .line {
      background-color: $success;
    }
  }
  .icon.warning {
    border-color: $warning;
  }
  .icon.info {
    border-color: $info;
  }
  .btn-warning:focus, .btn-info:focus, .btn-success:focus, .btn-danger:focus, .btn-default:focus {
    box-shadow: none;
  }
}