# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

.DS_Store

# ignore efs directory
efs/*

# ignore sent email dir for tests
app-messages/*

# dev database
db.sqlite3
.vscode/

# api key file
api_keys.py
