# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

.DS_Store

# ignore statics


# ignore efs directory
efs/*

# ignore sent email dir for tests
app-messages/*

.idea/*

# local dev settings module
local_dev.py

*.vscode
*production.py