# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# ignore efs directory
efs/*

# ignore sent email dir for tests
app-messages/*
