option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "CommunicationSeminar.settings"
    "PYTHONPATH": "/opt/python/current/app/CommunicationSeminar:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "CommunicationSeminar/wsgi.py"
    StaticFiles: "/static/=static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput --clear"
    leader_only: true
  03_http_to_https_redirect:
    command: 
      sed -i '/\<VirtualHost \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} !https\nRewriteRule \!/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]' /opt/python/ondeck/wsgi.conf
