{% extends 'ComSemApp/about/base.html' %}

{% load static %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p align="center">
                        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0">
                        <param name="movie" value="Error Recognition L2 with practice.swf" />
                        <param name="quality" value="high" />
                        <embed src="{% static 'error_recognition/l2.swf' %}" width="800" height="727" align="absmiddle" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"></embed>
                      </object>
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

