<!DOCTYPE html>

{% load static %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Communication Seminar</title>

		<!-- Minton -->
		<link href="{% static "ComSemApp/Minton/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "ComSemApp/Minton/css/icons.css" %}" rel="stylesheet" type="text/css">

		{% with 'ComSemApp/Minton/css-'|add:minton_style|add:'/style.css' as minton_style_css %}
		<link href="{% static minton_style_css %}" rel="stylesheet" type="text/css" v="2">
		{% endwith %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


		<!-- TABLESORTER http://tablesorter.com/docs/ -->
		<script type="text/javascript" src="{% static "ComSemApp/tablesorter/js/jquery.tablesorter.js" %}"></script>

		<!-- tablesorter widget file - loaded after the plugin -->
		<script type="text/javascript" src="{% static "ComSemApp/tablesorter/js/jquery.tablesorter.widgets.js" %}"></script>

		<!-- bootstrap widget theme -->
		<link rel="stylesheet" type="text/css" href="{% static 'ComSemApp/tablesorter/css/theme.bootstrap_4.css' %}" />

		<!-- pager plugin -->
		<link rel="stylesheet" href="{% static 'ComSemApp/tablesorter/addons/pager/jquery.tablesorter.pager.css' %}" >
		<script src="{% static "ComSemApp/tablesorter/addons/pager/jquery.tablesorter.pager.js" %}"></script>


		<script src="{% static "ComSemApp/Minton/js/modernizr.min.js"  %}"></script>

		<script src="{% static "ComSemApp/js/ComSemRecording.js" %}"></script>

		<!-- js cookies -->
		<script src="{% static "ComSemApp/js/js-cookie/src/js.cookie.js" %}"></script>

		<script>
			// necessary to append the csrf token to all ajax calls to django
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
						// Only send the token to relative URLs i.e. locally.
						xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
					}
				}
			});
		</script>

		<link href="{% static "ComSemApp/css/com_sem_styles.css" %}" rel="stylesheet" v="0" />

	</head>

	{% block body %}

	{% endblock %}

	<!-- messages -->
	{% if messages %}
		{% for message in messages %}
		<script>
			$(function(){
				var tag = 'info'
				{% if message.tags %}
					tag = "{{ message.tags }}";
				{% endif %}
				cs_notification(tag, "{{ message }}")
			})
		</script>
		{% endfor %}
	{% endif %}




	<script>
		var cs_ajax_error = function(jqXHR, textStatus, errorThrown){
			cs_notification('error', errorThrown)
		}

		function cs_notification(tag, message){
			$.Notification.notify(tag, 'right bottom', message)
		}

		function cs_confirm(title, text, type, button_text, on_confirm){
			switch(type) {
				case 'warning':
					var confirm_button = 'warning'
					break;
				case 'error':
					var confirm_button = 'danger'
					break;
				default:
					var confirm_button = 'success'
			}

			swal({
				title: title,
				text: text,
				type: type,
				showCancelButton: true,
				confirmButtonClass: 'btn-sm btn-' + confirm_button,
				confirmButtonText: button_text,
				closeOnConfirm: true
			}, function () {
				on_confirm()
			});
		}

		$(function(){

			// make tablesorter footer the right size
			$('.tablesorter').each(function(){
				num_cols = $(this).find('thead tr').children().length;
				$(this).find('.cs-tablesorter-footer').attr('colspan', num_cols)
			})


			// appelez le plugin tablesorter et appliquez le widget uitheme
			$(".tablesorter").tablesorter({
				theme : "bootstrap",

				widthFixed: true,

				headerTemplate : '{content} {icon}',

				widgets : [ "uitheme", "filter", "columns", "zebra" ],

				widgetOptions : {

					zebra : ["even", "odd"],

					columns: [ "primary", "secondary", "tertiary" ],


					filter_cssFilter: "form-control",

				}
			})
			// initialiser le pager
			.tablesorterPager({

				container: $(".ts-pager"),

				cssGoto  : ".pagenum",

				removeRows: false,

				output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'

			})



			// ajouter des icônes de filtre
			// $('input.tablesorter-filter').wrap('<div class="input-group filter-addon">')
			// $('.filter-addon').append('<span class="input-group-addon"><span class="oi oi-magnifying-glass"></span>')
		})

	</script>

	<!-- MINTON -->
    <script>
    	var resizefunc = [];
    </script>

    <!-- Plugins  -->
    <script src="{% static "ComSemApp/Minton/js/popper.min.js" %}"></script><!-- Popper for Bootstrap -->
    <script src="{% static "ComSemApp/Minton/js/bootstrap.min.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/detect.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/fastclick.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/jquery.slimscroll.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/jquery.blockUI.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/waves.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/wow.min.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/jquery.nicescroll.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/jquery.scrollTo.min.js" %}"></script>
    <script src="{% static "ComSemApp/Minton-plugins/switchery/switchery.min.js" %}"></script>

    <!-- Counter Up  -->
    <script src="{% static "ComSemApp/Minton-plugins/waypoints/lib/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "ComSemApp/Minton-plugins/counterup/jquery.counterup.min.js" %}"></script>

    <!-- circliful Chart -->
    <script src="{% static "ComSemApp/Minton-plugins/jquery-circliful/js/jquery.circliful.min.js" %}"></script>
    <script src="{% static "ComSemApp/Minton-plugins/jquery-sparkline/jquery.sparkline.min.js" %}"></script>

    <!-- skycons -->
    <script src="{% static "ComSemApp/Minton-plugins/skyicons/skycons.min.js" type="text/javascript" %}"></script>

    <!-- Page js  -->
    <script src="{% static "ComSemApp/Minton/pages/jquery.dashboard.js" %}"></script>

    <!-- Custom main Js -->
    <script src="{% static "ComSemApp/Minton/js/jquery.core.js" %}"></script>
    <script src="{% static "ComSemApp/Minton/js/jquery.app.js" %}"></script>

	<!-- Notification js -->
	<script src="{% static "ComSemApp/Minton-plugins/notifyjs/dist/notify.min.js" %}"></script>
	<script src="{% static "ComSemApp/Minton-plugins/notifications/notify-metro.js" %}"></script>

	<!-- Sweet Alert js -->
	<link href="{% static "ComSemApp/Minton-plugins/bootstrap-sweetalert/sweet-alert.css"%}" rel="stylesheet" type="text/css" />
	<script src="{% static "ComSemApp/Minton-plugins/bootstrap-sweetalert/sweet-alert.min.js" %}"></script>

    <!-- recordmp3 needed by ComSemRecording -->
    <script src="{% static "ComSemApp/js/Recordmp3js/recordmp3.js" %}"></script>

</html>
