<!-- USED IN TEACHER AND STUDENT HOME PAGES -->


<div class="row">
	<div class="col-6">
		<h4 class="m-t-0 header-title">
			<b>My Courses</b>
		</h4>
	</div>

	{% if show_active_button %}
	<!-- course status button group -->
	<!-- <div class="col-6">

		<div class="btn-group float-right" data-toggle="buttons">
			<label class="btn btn-sm btn-outline-primary active" id="showActiveCourses">
				<input type="radio" autocomplete="off" checked> Active
			</label>
			<label class="btn btn-sm btn-outline-primary" id="showAllCourses">
				<input type="radio"  autocomplete="off"> All
			</label>
		</div>
	</div>

	<script>
	$(document).ready(function(){
		$("#showActiveCourses").on("click", function(){
			$(".course-inactive").hide();
		});

		$("#showAllCourses").on("click", function(){
			$(".courseRow").show();
		});
	});
	</script>

	<style>
	.course-inactive{
		display: none;
	}
	</style>
	-->
	{% endif %}

</div>

<div class="row mt-2">
	{% if courses %}
	<table class="table table-hover tablesorter">
		<thead>
			<tr>
				<th>Active</th>
				<th>Session</th>
				<th>Year</th>
				<th>Course</th>
				<th>Section</th>
				{% if teacher_view %}
					<th class="d-xs-none" data-filter="false" data-sorter="false"></th>
				{% else %}
					<th>Teacher</th>
					<th data-filter="false" data-sorter="false"></th>
				{% endif %}
			</tr>
		</thead>

		<tbody>
			{% for course in courses %}
				<tr class="courseRow course-{{ course.status }}" course_id="{{ course.id }}">
					<td class='text-center'><i class='fa fa-lg {% if course.is_active %}fa-check{% else %}fa-times{% endif %}'></i></td>
					<td>{{ course.session.session_type.name }}</td>
					<td>{{ course.session.start_date.year }}</td>
					<td>{{ course.course_type.name }}</td>
					<td>{{ course.section }}</td>

					{% if teacher_view %}
					<td>
						<a href="{% url 'teacher_course' course.id %}" class="btn btn-sm btn-outline-primary">Course Page</a>
						<button type='button' class='btn btn-sm btn-outline-primary showStudents'>Students</button>
					</td>
					{% else %}
					<td>
						{{ course.teachers.all|join:", " }}
					</td>
					<td>
						<a href="{% url 'student_course' course.id %}" class="btn btn-sm btn-outline-primary">Course Page</button>
					</td>
					{% endif %}
				</tr>
			{% endfor %}

		</tbody>

		{% include 'ComSemApp/tablesorter_footer.html'%}

	</table>
	{% else %}
		<p>No available courses.</p>
	{% endif %}
</div>
