{% load static %}


{% if messages %}
	{% for message in messages %}
	<script>
		$(function(){
			var tag = 'info'
			{% if message.tags %}
			tag = "{{ message.tags }}";
			{% endif %}
			cs_notification(tag, "{{ message }}")
		})
	</script>
	{% endfor %}
{% endif %}

<script>
var cs_ajax_error = function(jqXHR, textStatus, errorThrown){
	cs_notification('error', errorThrown)
}
function cs_notification(tag, message){
	$.Notification.notify(tag, 'right bottom', message)
}
</script>


<!-- Notification js -->
<script src="{% static "ComSemApp/Minton-plugins/notifyjs/dist/notify.min.js" %}"></script>
<script src="{% static "ComSemApp/Minton-plugins/notifications/notify-metro.js" %}"></script>