{% extends 'ComSemApp/base.html' %}

{% block body %}
<body class="fixed-left">

	<!-- Begin page -->
	<div id="wrapper">

		<!-- Top Bar Start -->
		<div class="topbar">

			<!-- LOGO -->
			<div class="topbar-left">
				<div class="text-center">
					<a href="{% url 'about' %}" class="logo">
						<i class="ion-chatboxes"></i>
						<span>ComSem</span>
					</a>
				</div>
			</div>

			<!-- Button mobile view to collapse sidebar menu -->
			<nav class="navbar-custom">

				<ul class="list-inline float-right mb-0">

					{% if not live %}
					<li class="list-inline-item notification-list hide-phone">
						<span style="font-size: 20px;" class="badge badge-warning">TEST</span>
					</li>
					{% endif %}

					<li class="list-inline-item notification-list hide-phone">
						<a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
							<i class="mdi mdi-crop-free noti-icon"></i>
						</a>
					</li>



					<!-- <li class="list-inline-item notification-list">
						<a class="nav-link right-bar-toggle waves-light waves-effect" href="#">
							<i class="mdi mdi-dots-horizontal noti-icon"></i>
						</a>
					</li>

					<li class="list-inline-item dropdown notification-list">
						<a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
						aria-haspopup="false" aria-expanded="false">
							<i class="mdi mdi-bell noti-icon"></i>
							<span class="badge badge-pink noti-icon-badge">4</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
							<div class="dropdown-item noti-title">
								<h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
							</div>

							<a href="javascript:void(0);" class="dropdown-item notify-item">
								<div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
								<p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
							</a>

							<a href="javascript:void(0);" class="dropdown-item notify-item">
								<div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
								<p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
							</a>

							<a href="javascript:void(0);" class="dropdown-item notify-item">
								<div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
								<p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
							</a>

							<a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
								View All
							</a>

						</div>
					</li> -->

					<li class="list-inline-item dropdown notification-list">
						<a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="font-size:25px">
							<i class="ion-person" class="mt-4"></i>
							<!-- <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> -->
						</a>
						<div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">

							<div class="dropdown-item noti-title">
								<h5 class="text-overflow">Welcome, <b>{{ user.username }}</b> </h5>
							</div>

							<div class="dropdown-divider"></div>

							{% for role in user_info %}
								<a href="{% url role %}" class="dropdown-item notify-item" >
									<span class="user_role">{{ role }}</span>
								</a>
							{% endfor %}

							<style>
							.user_role {
								margin-left: 28px;
								text-transform: uppercase;
								font-size: 12px;
								font-weight: 700;
							}
							</style>

							<div class="dropdown-divider"></div>

							<a href="{% url 'change_password' %}" class="dropdown-item notify-item">
								<i class="mdi mdi-settings"></i> <span>Change Password</span>
							</a>

							<a href="{% url 'logout' %}" class="dropdown-item notify-item">
								<i class="mdi mdi-logout"></i> <span>Logout</span>
							</a>

						</div>
					</li>

				</ul>


				<ul class="list-inline menu-left mb-0">
					<li class="float-left">
						<button class="button-menu-mobile open-left waves-light waves-effect">
							<i class="mdi mdi-menu"></i>
						</button>
					</li>
				<!-- <li class="hide-phone app-search">
						<form role="search" class="">
							<input type="text" placeholder="Search..." class="form-control">
							<a href=""><i class="fa fa-search"></i></a>
						</form>
					</li> -->
				</ul>

			</nav>

		</div>
		<!-- Top Bar End -->


		<!-- ========== Left Sidebar Start ========== -->
		<!-- only show if they have a current role (not on password reset page for example) -->
		{% if current_role %}
		<div class="left side-menu">
			<div class="sidebar-inner slimscrollleft">
				<!--- Divider -->
				<div id="sidebar-menu">
					{% if user_info.admin.current %}
					<ul>
						<li>
							<a href="{% url 'admin_students' %}">
								<i class="ion-person ion"></i>
								<span>Students</span>
							</a>
						</li>
						<li>
							<a href="{% url 'admin_teachers' %}">
								<i class="ion-person-add ion"></i>
								<span>Teachers</span>
							</a>
						</li>
						<li>
							<a href="{% url 'admin_courses' %}">
								<i class="ion-android-book ion-sm"></i>
								<span>Courses</span>
							</a>
						</li>
						<li>
							<a href="{% url 'admin_course_types' %}">
								<i class="ion-ios7-cog ion"></i>
								<span>Course Types</span>
							</a>
						</li>
						<li>
							<a href="{% url 'admin_sessions' %}">
								<i class="ion-calendar ion-sm"></i>
								<span>Sessions</span>
							</a>
						</li>
						<li>
							<a href="{% url 'admin_session_types' %}">
								<i class="ion-ios7-cog-outline ion"></i>
								<span>Session Types</span>
							</a>
						</li>

						<li class="has_sub">
							<a href="javascript:void(0);" class="waves-effect waves-primary">
								<i class="ti-pie-chart"></i>
								<span>Corpus</span>
								<span class="menu-arrow"></span>
							</a>
							<ul class="list-unstyled">
								<li><a href="{% url 'admin_corpus_search' %}">Search</a></li>
								<!-- <li><a href="url 'corpus_stats' ">Statistics</a></li> -->
							</ul>
						</li>
					</ul>
					{% elif user_info.teacher.current %}
					<ul>
						<li>
							<a href="{% url 'teacher' %}">
								<i class="ti-blackboard"></i>
								<span>Courses</span>
							</a>
						</li>
						<li class="has_sub">
							<a href="javascript:void(0);" class="waves-effect waves-primary">
								<i class="ti-pie-chart"></i>
								<span>Corpus</span>
								<span class="menu-arrow"></span>
							</a>
							<ul class="list-unstyled">
								<li><a href="{% url 'teacher_corpus_search' %}">Search</a></li>
								<!-- <li><a href="url 'corpus_stats' ">Statistics</a></li> -->
							</ul>
						</li>
					</ul>
					{% elif user_info.student.current %}
					<ul>
						<li>
							<a href="{% url 'student' %}">
								<i class="ti-blackboard"></i>
								<span>Courses</span>
							</a>
						</li>
					</ul>
					{% endif %}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		{% endif %}

		<!-- Left Sidebar End -->


		<div class="content-page" style="{% if not current_role %}margin-left: 0px{% endif %}">

			<!-- Start content -->
			<div class="content">

				<div class="container-fluid">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>


</body>


{% endblock %}
