<tfoot>
	<tr>
		<th class="ts-pager cs-tablesorter-footer">
			<div class="row justify-content-center">
				<div class="form-inline">
					<div class="btn-group btn-group-sm mx-1" role="group">
						<button type="button" class="btn btn-secondary first" title="first">⇤</button>
						<button type="button" class="btn btn-secondary prev" title="previous">←</button>
					</div>
					<span class="pagedisplay"></span>
					<div class="btn-group btn-group-sm mx-1" role="group">
						<button type="button" class="btn btn-secondary next" title="next">→</button>
						<button type="button" class="btn btn-secondary last" title="last">⇥</button>
					</div>
					<select class="form-control-sm custom-select px-1 pagesize" title="Select page size" style="width: 100px;">
						<option selected="selected" value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="all">All Rows</option>
					</select>
					<select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
				</div>
			</div>
		</th>
	</tr>
</tfoot>
