{% extends 'ComSemApp/sidebar.html' %}
{% block content %}
<div class="card-box cs-table-container" style="min-height:600px;">
        <div class="row">
                <div class="col-6">
                    <h4 class="m-t-0 header-title">
                        <b>New Topic</b>
                    </h4>
                </div>
            </div>
    <form method="post">
        <div class="row mt-4">
            <div class="col-12 mx-auto">
                {% csrf_token %}

                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}

                    {% if field.errors %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    {% elif field.help_text %}
                        <small style="color: grey">{{ field.help_text|safe }}</small>
                    {% endif %}
                </p>
                {% endfor %}
            </div>
        </div>

        <br />

        <div class="row mt-4">
            <div class="col-6 mx-auto">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}