option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "CommunicationSeminar.settings"
    "PYTHONPATH": "/opt/python/current/app/CommunicationSeminar:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "CommunicationSeminar/wsgi.py"
    StaticFiles: "/static/=static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
