{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

	<div class="card-box cs-table-container">

		<div class="row">
			<div class="col-md-6">
				<h4 class="m-t-0 header-title"><b>All Courses</b></h4>
			</div>

			<div class="col-md-6">
				<a class="btn btn-sm btn-outline-info pull-right" href="{% url 'administrator:create_course' %}">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>

		{% if course_list %}
		<div class="row mt-3 cs-admin-table">
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>Session</th>
						<th>Course Type</th>
						<th>Section</th>
						<th>Students</th>
						<th>Active</th>
						<th data-filter="false" data-sorter="false"></th>
					</tr>
				</thead>

				<tbody>
					{% for course in course_list %}
						<tr>
							<td>
								{{ course.session }}
							</td>
							<td>
								{{ course.course_type }}
							</td>
							<td>
								{{ course.section }}
							</td>
							<td>
								{{ course.students__count }}
							</td>
							<td>
								<i class='fa fa-lg {% if course.is_active %}fa-check{% else %}fa-times{% endif %}'></i>
							</td>
							<td class="text-right">
								<a href="{% url 'administrator:edit_course' course.id %}" class='btn btn-sm btn-outline-primary edit_teacher_button'>Edit</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
		</div>

		{% else %}
			<h4>No courses have been created yet.</h4>
		{% endif %}
	</div>

{% endblock %}
