{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

	<div class="row">
		<div class="col-sm-12">
			<div class="page-title-box">
				<h4 class="page-title">Admin Home</h4>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-lg-3">
			<div class="widget-simple-chart text-right card-box">
				<div class="circliful-chart" data-dimension="90" data-text="35%" data-width="5" data-fontsize="14" data-percent="35" data-fgcolor="#5fbeaa" data-bgcolor="#ebeff2"></div>
				<h3 class="text-success counter m-t-10">2562</h3>
				<p class="text-muted text-nowrap m-b-10">Total Sales today</p>
			</div>
		</div>
	</div>

{% endblock %}
