{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

	<div class="card-box cs-table-container">

		<div class="row">
			<div class="col-md-6">
				<h4 class="m-t-0 header-title"><b>All Session Types</b></h4>
			</div>

			<div class="col-md-6">
				<a class="btn btn-sm btn-outline-info pull-right" href="{% url 'administrator:create_session_type' %}">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>

		{% if sessiontype_list %}
		<div class="row mt-3 cs-admin-table">
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>Name</th>
						<th>Display Order</th>
						<th data-filter="false" data-sorter="false"></th>
					</tr>
				</thead>

				<tbody>
					{% for session_type in sessiontype_list %}
						<tr>
							<td>
								{{ session_type.name }}
							</td>
							<td>
								{{ session_type.order }}
							</td>
							<td class="text-right">
								<a href="{% url 'administrator:edit_session_type' session_type.id %}" class='btn btn-sm btn-outline-primary'>Edit</a>

								<button delete_url="{% url 'administrator:delete_session_type' pk=session_type.id %}" class='btn btn-sm btn-outline-danger delete_button' style="margin-left: 10px;">Delete</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
		</div>

		{% else %}
			<h4>No session types have been created yet.</h4>
		{% endif %}
	</div>

	<script>
	var delete_url;
	$(function(){
		var delete_obj = function(){
			window.location.href = delete_url;
		}

		$('.delete_button').click(function(e){
			e.preventDefault();
			delete_url = $(this).attr('delete_url');
			cs_confirm("Delete Session Type", "Are you sure you'd like to delete this session type? This action will automatically delete all sessions and courses with the session type!", "error", "Delete", delete_obj)
		})
	})
	</script>

{% endblock %}
