{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

	<div class="card-box cs-table-container">

		<div class="row">
			<div class="col-md-6">
				<h4 class="m-t-0 header-title"><b>All Students</b></h4>
			</div>
			
			<div class="col-md-6">
				<a class="btn btn-sm btn-outline-info pull-right" href="{% url 'administrator:create_student' %}">
					<i class="m-t-0 header-title">Create Student
					</i>
				</a>
			</div>

			<form method="post" enctype="multipart/form-data">{% csrf_token %}
				<label class="btn btn-sm btn-outline-info pull-left" >
					<input type="file" name="file" accept=".csv"/>
				</label>
				<br>
				<button class="btn btn-sm btn-outline-info pull-left" type="save">Upload</button>
			</form>
		</div>
		<br>
		<div>
			<p>Uploader only allows CSV Files.
			</p>
			<p>
				Please order students in the following way: firstname, lastname, email, username. 
				Below is an example of how the first line would look, a comma indicates a new column. Names must contain letters only. 
			</p>
			<p>
				John,Doe,johndoe@gmail.com,johnsusername
			</p>
		</div>

		<div>
		{% if messages %}
				{% for message in messages %}
				<pre style="color: #98a6ad">{{ message }}</pre>
				{% endfor %}
		{% endif %}
		</div>

		{% if student_list %}
		<div class="row mt-3 cs-admin-table">
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Active</th>
						<th data-filter="false" data-sorter="false"></th>
					</tr>
				</thead>

				<tbody>
					{% for student in student_list %}
						<tr>
							<td>
								{{ student.user.first_name }}
							</td>
							<td>
								{{ student.user.last_name }}
							</td>
							<td>
								{{ student.user.email }}
							</td>
							<td>
								<i class='fa fa-lg {% if student.user.is_active %}fa-check{% else %}fa-times{% endif %}'></i>
							</td>
							<td class="text-right">
								<a href="{% url 'administrator:edit_student' student.id %}" class='btn btn-sm btn-outline-primary'>Edit</a>

								<button delete_url="{% url 'administrator:disactivate_student' pk=student.id %}" class='btn btn-sm btn-outline-danger delete_button {% if not student.user.is_active %}disabled{% endif %}' style="margin-left: 10px;">Disactivate</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
		</div>
		{% else %}
			<h4>No students have been created yet.</h4>
		{% endif %}
	</div>

	<script>
	var delete_url;
	$(function(){
		var delete_obj = function(){
			window.location.href = delete_url;
		}

		$('.delete_button:not(.disabled)').click(function(e){
			e.preventDefault();
			delete_url = $(this).attr('delete_url');
			cs_confirm("Delete Student", "Are you sure you'd like to disactivate this student?", "error", "Delete", delete_obj)
		})
	})
	</script>

{% endblock %}
