{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

	<div class="card-box cs-table-container">

		<div class="row">
			<div class="col-md-6">
				<h4 class="m-t-0 header-title"><b>All Teachers</b></h4>
			</div>

			<div class="col-md-6">
				<a class="btn btn-sm btn-outline-info pull-right" href="{% url 'admin_create_teacher' %}">
					<i class="fa fa-plus"></i>
				</a>
			</div>
		</div>

		{% if teacher_list %}
		<div class="row mt-3 cs-admin-table">
			<table class="table tablesorter">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Active</th>
						<th data-filter="false" data-sorter="false"></th>
					</tr>
				</thead>

				<tbody>
					{% for teacher in teacher_list %}
						<tr>
							<td>
								{{ teacher.user.first_name }}
							</td>
							<td>
								{{ teacher.user.last_name }}
							</td>
							<td>
								{{ teacher.user.email }}
							</td>
							<td>
								<i class='fa fa-lg {% if teacher.user.is_active %}fa-check{% else %}fa-times{% endif %}'></i>
							</td>
							<td class="text-right">
								<a href="{% url 'admin_edit_teacher' teacher.id %}" class='btn btn-sm btn-outline-primary edit_teacher_button'>Edit</a>

								<button delete_url="{% url 'admin_disactivate_teacher' pk=teacher.id %}" class='btn btn-sm btn-outline-danger delete_button {% if not teacher.user.is_active %}disabled{% endif %}' style="margin-left: 10px;">Disactivate</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
		</div>
		{% else %}
			<h4>No teachers have been created yet.</h4>
		{% endif %}
	</div>

	<script>
	var delete_url;
	$(function(){
		var delete_obj = function(){
			window.location.href = delete_url;
		}

		$('.delete_button:not(.disabled)').click(function(e){
			e.preventDefault();
			delete_url = $(this).attr('delete_url');
			cs_confirm("Delete Teacher", "Are you sure you'd like to delete this teacher?", "error", "Delete", delete_obj)
		})
	})
	</script>

{% endblock %}
