{% load static %}
<div class="row h-100">
    <div class="col-12 h-100">
        <div class="card-box">
            <div class="card">
                <div class='card-body'>
                    <!--card for displaying results-->
                    <b>Student</b><br>
                    <br>
                    <b>Course</b><br>
                    {{ course }}<br>
                    <b>Correct Expression</b><br> 
                    {{attempt.expression.reformulation_text}} <br>
                    <b>Given Expression</b><br> 
                    {{attempt.expression.expression}} <br>
                    <b>Graded Expression</b> (hover for details about each error)<br> 
                    <mark><span title="There could be errors shown here">{{attempt.transcription}}</span></mark><br>
                    <b>Audio Recording</b><br>
                    <audio controls title="Reformulation" style="width: 200px" class="previous_attempt_audio" src="{{ attempt.audio.url }}"></audio><br>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "ComSemApp/js/ComSemRecording-opus.js" %}?{% now "U" %}"></script>