{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

	<!-- Page-Title -->
	<div class="row">
		<div class="col-sm-12">
			<div class="page-title-box">
				<h4 class="page-title">Course Information </h4>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<div class="row">

		<!-- course info -->
		<div class="col-lg-5 col-md-5 col-sm-4">
			{% include 'ComSemApp/course_details.html' %}
		</div>

		<!-- course students -->
		<div class="col-lg-7 col-md-7 col-sm-8">
			<div class="portlet">

				<div class="portlet-heading portlet-default">
					<h4 class="portlet-title m-t-0 header-title"><b>Students</b></h4>

					<div class="portlet-widgets">

						<a data-toggle="collapse" data-parent="#accordion1" href="#courseStudentsPortlet"><i class="ion-minus-round"></i></a>

					</div>
					<div class="clearfix"></div>

				</div>

				<div id="courseStudentsPortlet" class="panel-collapse collapse show">
					<div class="portlet-body">

						<table id="courseStudentsTable" class="table table-hover table-sm"></table>

						<script>
							$(function(){
								$('#courseStudentsTable').load("{% url 'course_students' %}", {'course_id' : {{ course.id }}})
							})
						</script>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- worksheets -->
	<div class="row">

		<div class="col-12">

			<div class="card-box">

				<div class="row">

					<div class="col-6">
						<h4 class="m-t-0 header-title"><b>Worksheets</b></h4>
					</div>
					<div class="col-6">
						{% url 'teacher_worksheet' course.id 0 as new_worksheet %}
						<a href="{{ new_worksheet }}" class="btn btn-sm btn-outline-info float-right"><i class="fa fa-plus"></i></a>
					</div>

				</div>

				<div class="panel-body mt-3">

					{% if worksheets %}
					<table class="table table-hover tablesorter">
						<thead>
							<tr>
								<th>#</th>
								<th>Date</th>
								<th>Topic</th>
								<th>Status</th>
								<th data-filter="false" data-sorter="false"></th>
							</tr>
						</thead>
						<tbody>
							{% for worksheet in worksheets %}
							<tr worksheet_id="{{ worksheet.id }}">
								<td>{{ forloop.counter }}</td>
								<td>{{ worksheet.date }}</td>
								<td>{{ worksheet.topic }}</td>
								<td>
									<span class='badge badge-{% if worksheet.released %}success{% else %}warning{% endif %}'>{% if worksheet.released %}Released{% else %}Unreleased{% endif %}</span>
								</td>
								<td>
									{% if worksheet.released %}
										<div class="row">
											<a href="{% url 'teacher_worksheet' course.id worksheet.id %}" class='btn btn-sm btn-outline-primary'>Review</a>
										</div>
									{% else %}
										<div class="row">
											<a href="{% url 'teacher_worksheet' course.id worksheet.id %}" class='btn btn-sm btn-outline-primary'>Edit</a>

											<button type='button' name='' class='btn btn-sm btn-outline-success release_worksheet_button' style="margin-left: 10px;">Release</button>

											<button type="button" class='btn btn-sm btn-outline-danger delete_worksheet_button' style="margin-left: 10px;">Delete</button>
										</div>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
						{% include 'ComSemApp/tablesorter_footer.html'%}
					</table>
					{% else %}
						<p>No worksheets have been created yet. <a href="{{ new_worksheet }}">Click here</a> to create one.</p>
					{% endif %}

				</div>
			</div>


			<!-- END PAGE CONTENT -->
		</div>
	</div>


	<script>

		var delete_worksheet_id;

		function delete_worksheet(){
			$worksheet_row = $('tr[worksheet_id=' + delete_worksheet_id + ']');
			$.ajax({
				type: "POST",
				url: "{% url 'delete_worksheet' %}",
				data: {
					"worksheet_id": delete_worksheet_id,
					"course_id": {{ course.id }},
				},
				success: function(data) {
					try {
						response = JSON.parse(response);
						cs_notification('error', response.error)
					} catch(e) {
						cs_notification('success', "worksheet deleted")
						$worksheet_row.slideUp()
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					cs_ajax_error(jqXHR, textStatus, errorThrown)
				},
			});
		}


		var release_worksheet_id;
		function release_worksheet(){
			$.ajax({
				type: "POST",
				url: "{% url 'release_worksheet' %}",
				data: {
					"worksheet_id": release_worksheet_id
				},
				success: function(data){
					try {
						response = JSON.parse(response);
						cs_notification('error', response.error)
					} catch(e) {
						location.reload();
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					cs_ajax_error(jqXHR, textStatus, errorThrown)
				},
			});
		}

		$(function(){

			$(".delete_worksheet_button").on("click", function(e){
				delete_worksheet_id = $(this).parents('tr').attr('worksheet_id')
				cs_confirm("Delete Worksheet", "Are you sure you'd like to delete this worksheet?", 'error', 'Yes, delete it', delete_worksheet);
			});

			$(".release_worksheet_button").on("click", function(e){
				release_worksheet_id = $(this).parents('tr').attr('worksheet_id')
				cs_confirm("Release Worksheet", "Are you sure you'd like to release this worksheet?\nIf so, you will no longer be able to edit or delete it.", 'warning', "Yes, release it", release_worksheet);
			});

		});


	</script>

{% endblock %}
