{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

	<!-- Page-Title -->
	<div class="row">
		<div class="col-sm-12">
			<div class="page-title-box">
				<h4 class="page-title">Course Information</h4>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class = "row">
				<div class="col-lg-5 col-md-5 col-sm-4">
					<div class = "portlet">
						<div class="column2" id="chart_div"></div>
					</div>
				</div>
			</div>

		<div class="row">

			<!-- course info -->
			<div class="col-lg-5 col-md-5 col-sm-4">
				{% include 'ComSemApp/course_details.html' %}
			</div>
		</div>
	</div>

		<!-- course students -->
		<div class="col-lg-7 col-md-7 col-sm-8">
			<div class="portlet">

				<div class="portlet-heading portlet-default">
					<h4 class="portlet-title m-t-0 header-title"><b>Students</b></h4>

					<div class="portlet-widgets">

						<a data-toggle="collapse" data-parent="#accordion1" href="#courseStudentsPortlet"><i class="ion-minus-round"></i></a>

					</div>
					<div class="clearfix"></div>

				</div>

				<div id="courseStudentsPortlet" class="panel-collapse collapse show">
					<div class="portlet-body">
						<table course_id="{{ course.id }}" class="courseStudentsTable table table-hover">
							{% include 'ComSemApp/teacher/course_students_detail.html' %}
						</table>
					</div>
				</div>
			</div>
		</div>

	<div> 
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<script type="text/javascript">
		
			  google.charts.load('current', {'packages':['corechart']});
		
			  // Set a callback to run when the Google Visualization API is loaded.
			  google.charts.setOnLoadCallback(drawChart);
		
			  // Callback that creates and populates a data table,
			  // instantiates the pie chart, passes in the data and
			  // draws it.
			  function drawChart() {
		
				// Create the data table.
				var data = new google.visualization.DataTable();
				var incomplete = {{ classincomplete }};
				var completed = {{ classcomplete }};
				var ungraded = {{ classungraded }};
				
				var data = google.visualization.arrayToDataTable([
				  ['Source', 'Clicks'],
				  ['Completed', completed],
				  ['Incomplete', incomplete],
				  ['Ungraded', ungraded]
				]);
		
		
				// Set chart options
				var options = {'title':'Worksheet Status'};
		
				// Instantiate and draw our chart, passing in some options.
				var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
				chart.draw(data, options);
		
		
				google.charts.load('current', {packages: ['corechart', 'line']});
				google.charts.setOnLoadCallback(drawBackgroundColor);
			  }
			  </script>

		
		
	</div>

	<!-- worksheets -->
	<div class="row">

		<div class="col-12">

			<div class="card-box">

				<div class="row">

					<div class="col-6">
						<h4 class="m-t-0 header-title"><b>Worksheets</b></h4>
					</div>
					<div class="col-6">
						<a href="{% url 'teacher:worksheet_create' course_id=course.id %}" class="btn btn-sm btn-outline-info float-right"><i class="fa fa-plus"></i></a>
					</div>

				</div>

				<div class="panel-body mt-3">

					<div id="worksheet_table"></div>

				</div>
			</div>


			<!-- END PAGE CONTENT -->
		</div>
	</div>


	<script>
		function drawWorksheets(){
			$("#worksheet_table").load("{% url 'teacher:worksheet_list' course_id=course.id %}", function(){
				initialize_tablesorter()

				$(".delete_worksheet_button").on("click", function(e){
					$worksheet_row = $(this).parents('tr')
					delete_worksheet_url = $worksheet_row.attr('delete_url')
					cs_confirm("Delete Worksheet", "Are you sure you'd like to delete this worksheet?",
									'error', 'Yes, delete it', delete_worksheet);
				});

				$(".release_worksheet_button").on("click", function(e){
					$worksheet_row = $(this).parents('tr')
					release_worksheet_url = $worksheet_row.attr('release_url')
					cs_confirm("Release Worksheet", "Are you sure you'd like to release this worksheet?\nIf so, you will no longer be able to edit or delete it.", 'warning', "Yes, release it", release_worksheet);
				});
			})
		}
		drawWorksheets()

		var $worksheet_row
		var delete_worksheet_url;
		function delete_worksheet(){
			$.ajax({
				type: "POST",
				url: delete_worksheet_url,
				success: function(data) {
					try {
						response = JSON.parse(response);
						cs_notification('error', response.error)
					} catch(e) {
						cs_notification('success', "worksheet deleted")
						drawWorksheets()
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					cs_ajax_error(jqXHR, textStatus, errorThrown)
				},
			});
		}


		var release_worksheet_url;
		function release_worksheet(){
			$.ajax({
				type: "POST",
				url: release_worksheet_url,
				success: function(data){
					try {
						response = JSON.parse(response);
						cs_notification('error', response.error)
					} catch(e) {
						drawWorksheets()
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
					cs_ajax_error(jqXHR, textStatus, errorThrown)
				},
			});
		}



	</script>

{% endblock %}
