<table class="table table-hover" id="worksheets-table">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Status</th>
            <th data-filter="false" data-sorter="false"></th>
        </tr>
    </thead>
    <tbody>
        {% for worksheet in worksheets %}
        <tr worksheet_id="{{ worksheet.id }}">
            <td>{{ worksheet.topic }}</td>
            <td>
                <span class='badge badge-{% if worksheet.released %}success{% else %}warning{% endif %}'>{% if worksheet.released %}Released{% else %}Unreleased{% endif %}</span>
            </td>
            <td>
                {% if worksheet.released %}
                    <div class="row">
                        <a href="{% url 'teacher:worksheet_detail' course.id worksheet.id %}" class='btn btn-sm btn-outline-primary'>Review</a>
                    </div>
                {% else %}
                    <div class="row">
                        <a href="{% url 'teacher:worksheet_update' course.id worksheet.id %}" class='btn btn-sm btn-outline-primary'>Edit</a>
                    </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="cs-tablesorter-footer" id="worksheets-table-footer">
                <div class="row justify-content-center">
                    <div class="form-inline">
                        <div class="btn-group btn-group-sm mx-1" role="group">
                            <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                            <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                        </div>
                        <span class="pagedisplay"></span>
                        <div class="btn-group btn-group-sm mx-1" role="group">
                            <button type="button" class="btn btn-secondary next" title="next">→</button>
                            <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                        </div>
                        <select class="form-control-sm custom-select px-1 pagesize" title="Select page size" style="width: 100px;">
                            <option selected="selected" value="5">5</option>
                            <option value="all">All Rows</option>
                        </select>
                    </div>
                </div>
            </th>
        </tr>
    </tfoot>
</table>

<script>
    $(function(){
        $("#worksheets-table").tablesorter().tablesorterPager({
            size: 5,
            container: $("#worksheets-table-footer"),
            cssGoto  : ".pagenum",
            removeRows: false,
            output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
        })
    })
</script>