{% load static %}
{% if course.students.all %}
<thead>
	<tr>
		<th>Name</th>
		<th>Worksheets Completed/Assigned</th>
		<th>Worksheets Not yet Reviewed</th>
	</tr>
</thead>

<tbody>
	{% for student in course.students.all %}
	<tr>
		<td>{{student}}</td>
		<td> {{worksheetCount}}</td>
		<td>
				{% with username=student.user.username %}
				{{username}}
				{{submissions.username}}
				{% endwith %}
		</td>
		<td><a href="mailto:{{student.user.email}}">Email</a></td>
	</tr>
	{% endfor %}
</tbody>
{% else %}
	<h4>No Enrolled Students</h4>
{% endif %}