{% if course.students.all %}
<thead>
	<tr>
		<th>Name</th>
	</tr>
</thead>

<tbody>
	{% for student in course.students.all %}
	<tr>
		<td>{{ student}}</td>
		<td> 44/23 worksheets</td>
		<td><a href="mailto:{{student.user.email}}">Email</a></td>
		<td>{% if submissions %}
				{% for submission in submissions %}
					{%if submission.student.user == student.user%}
					<p>USER FOUNDS</p>
					{% endif %}
					{% else % }
					<p>NOT FOUND</p>
					{% endfor %}
					{% endif %}
		</td>
	</tr>
	{% endfor %}
</tbody>
{% else %}
	<h4>No Enrolled Students</h4>
{% endif %}