{% load static %}
{% if course.students.all %}
<thead>
	<tr>
		<th>Name</th>
		<th>Worksheets Completed/Assigned</th>
		<th>Worksheets Not yet Reviewed</th>
	</tr>
</thead>

<tbody>
	{% for student in course.students.all %}
	<tr>
		<td>{{ student}}</td>
		<td> {{worksheetCount}}</td>
		<td>
				{% if submissions %}
				<h5>{ count(submissions.filter(id=student=student))</h5>
				{% else %}
				<h5>No submissions.</h5>
				{% endif %}


		</td>
		<td><a href="mailto:{{student.user.email}}">Email</a></td>
	</tr>
	{% endfor %}
</tbody>
{% else %}
	<h4>No Enrolled Students</h4>
{% endif %}