{% load static %}

<!-- recordmp3 needed by ComSemRecording -->
<script src="{% static "ComSemApp/js/opus-recorder/dist/recorder.min.js" %}"></script>
<script src="{% static "ComSemApp/js/ComSemRecording-opus.js" %}?{% now "U" %}"></script>

<div class="control-group controls" id="ExpressionEditor" style="display: none">

    <input hidden type="text" id="create_or_update_url">

    <div class="form-group row">
        <div class="col-8">

            <h4 class="text-muted m-b-10 font-14">
                {% if object %}
                    Edit Expression
                {% else %}
                    New Expression
                {% endif %}
            </h4>

        </div>
        <!--if worksheet is not released do not add the all do checkbox to the expression form - T.M.-->
        {% if not worksheet.released %}
        <div class="col-4">
            <div class="checkbox checkbox-primary">
                <input type="checkbox" id="all_do" name="all_do" {% if object.all_do %}checked{% endif %}>
                <label for="all_do">
                    All Do
                </label>
            </div>
        </div>
        {% else %}
        <input type="hidden" id="all_do" name="all_do" {% if object.all_do %}checked{% endif %}> 
        <!-- vhl will preserve all_do integrity -->
        {% endif %}
    </div>

    <div class="row" id="select_student">
        <div class="col-12">
            <div class="form-group">
                <label for="selectstudent">Student: </label>
                <select class="form-control" name="studentID" id="studentID">
                    <option selected="selected" value="0">Anonymous</option>
                    {% for student in course.students.all %}
                    <option value='{{ student.id }}' {% if student == object.student %}selected{% endif %}>{{ student }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="expression">Expression:</label>
                <input autocomplete="off" type="text" value="{{ object.expression }}" class="form-control" id="expression" name="expression">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="contextVocabulary">Context/Vocab: </label>
                <input autocomplete="off" id="contextVocabulary" name="contextVocabulary" value="{{ object.context_vocabulary|default_if_none:'' }}" type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="pronunciation">Pronunciation:</label>
                <input autocomplete="off" type="text" value="{{ object.pronunciation|default_if_none:'' }}" class="form-control" id="pronunciation" name="pronunciation">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="youglish">YouGlish:</label>
                <div class="container">
                    <div class="input-group w-25">
                        <input class=" form-control rounded-end m-1" type="text" id="wordInput" placeholder="Enter a word">
                        <button class="btn btn-primary m-1" type="button" id="addButton">+</button>
                    </div>
                    <div class="d-flex flex-wrap" id="bubbleContainer"></div>
                </div>
                <style>
                    .btn-bubble:hover {
                        background-color: #DB1A1A;
                        border-color: #DB1A1A; 
                      }
                </style>
            </div>
        </div>
    </div>

    <div class="row" id="display_reformulation_textRow">
        <div class="col-12">
            <div class="form-group">
                <label for="expression">Reformulation:</label>
                <input autocomplete="off" type="text" value="{{ object.reformulation_text|default_if_none:'' }}" class="form-control" id="reformulation" name="reformulation">
            </div>
        </div>
    </div>
    
    <div class="row" id="display_reformulation_audioRow">
        {% include 'ComSemApp/audio_recording.html' %}
    </div>

    {% if object.audio %}
    <script>
        $(function(){
            $('#recordingslist').html("<audio controls id='audioElement' src='" + "{{ object.audio.url }}" + "' type='audio/mpeg'></audio>");
            $('#deleteRecordingButton').show();
        });
    </script>
    {% endif %}

    <br>
    <div class="row">
        <div class="col-12 text-center">
            <div class="btn-group" role="group">
                {% if not worksheet.released %}
                <button type="button" id="saveExpression"  name="SaveExpression" class="btn btn-outline-success">Save Expression</button>
                {% else %}
                <button type="button" id="saveExpression"  name="SaveExpression" class="btn btn-outline-success">Save Edits</button>
                {% endif %}
            </div>
        </div>
    </div>

</div>

<script>

const wordInput = document.getElementById('wordInput');
const bubbleContainer = document.getElementById('bubbleContainer');

document.getElementById('addButton').addEventListener('click', () => {
    /*
    *   Adds a word bubble for youglish from the text input
    */

    const word = wordInput.value.trim();
    if (word) {
        const bubble = document.createElement('div');
        bubble.className = 'btn btn-primary btn-bubble m-1';
        bubble.innerText = word;

        bubble.addEventListener('click', () => {
            bubble.remove();
        });

        bubbleContainer.appendChild(bubble);
        wordInput.value = '';
    }
});

function joinYouglishWords() {
    /*
    *   Joins the words in the youglish bubbles into a comma separated string
    */
    const contents = $("#bubbleContainer div").map((index, element) => $(element).text()).get();
    return contents.join(",");
  }

function hide_select_student(){ // hides student selection
    var x = document.getElementById("select_student");
    x.style.display="none"
}
{% if worksheet.released %} // prevents teachers from reassigning the expression if the worksheet is released
    hide_select_student();
{% endif %}

$("#saveExpression").click(function(e){
    e.preventDefault()

    if( $("#expression").val().trim() == "" ){
        // must have a valid expression
        alert("Please enter an expression")
        return;
    }

    // because of audio, we must send a formdata object
    var worksheetFormData = new FormData();
    student_id = $("#studentID").val()
    if (student_id != "0"){
        worksheetFormData.append( 'student', student_id );
    }

    worksheetFormData.append('expression', $("#expression").val() );
    worksheetFormData.append('all_do', $("#all_do").prop("checked") );
    worksheetFormData.append('context_vocabulary', $("#contextVocabulary").val() );
    worksheetFormData.append('reformulation_text', $("#reformulation").val() );
    worksheetFormData.append('pronunciation', $("#pronunciation").val() );
    worksheetFormData.append('youglish_query', joinYouglishWords());

    var reformulation_audio = $("#recordingslist #audioElement").length > 0 ? true : false
    if (reformulation_audio){
        worksheetFormData.append('audio', audioReformulationBlob)
    } else {
        worksheetFormData.append('delete_audio', true)
    }

    inspectFormData(worksheetFormData)

    $.ajax({
        type: "POST",
        url: $("#create_or_update_url").val(),
        data: worksheetFormData,
        processData: false,
        contentType: false,
        success: function(response){
            cs_notification('success', "Expression Saved")
            // update expressions table
            drawExpressionsTable();
        },
        error: function(jqXHR, textStatus, errorThrown){
            cs_ajax_error(jqXHR, textStatus, errorThrown)
        },
    });

    // clear editor
    $("#ExpressionEditor").slideUp();
    audioReformulationBlob = null; // clears reformulation

    {% if not worksheet.released %}
    // fresh create expression form
    populateEditor(expression_create_url);
    {% endif %}
});
</script>
