{% extends 'ComSemApp/sidebar.html' %}

{% block content %}
	<div class="row">

		<div class="col-lg-8 col-md-8 col-sm-12">

			<div class="card-box cs-table-container" style="min-height:600px;">

				{% include 'ComSemApp/course_table.html' %}

				<script>
					// handle the show students buttons. request and insert table content, set row to appear active
					$(document).ready(function(){
						$(".showStudents").click(function(){
							var $courseRow = $(this).parents("tr.courseRow");
							var course_id = $courseRow.attr("course_id");

							$('#courseStudentsTable').load(
								"{% url 'course_students' %}", {'course_id' : course_id},
								function(response){
									try {
										response = JSON.parse(response);
										cs_notification('error', response.error)
									} catch(e) {
										$("#courseStudentsTable").html(response);

										// highlight current row by giving it the active class
										$(".courseRow").removeClass('cs-active');
										$courseRow.addClass('cs-active');
									}
								}
							)

						});
					});
				</script>
			</div>
		</div>


		<div class="col-lg-4 col-md-4 hidden-sm-down">
			<div class="card-box" style="min-height:600px;">

				<div class="row">
					<div class="col-12">
						<h4 class="m-t-0 header-title"><b>Students in Course</b></h4>
					</div>
				</div>

				<table id="courseStudentsTable" class="table table-hover" style="margin-top: 23px"></table>

			</div>
		</div>

	</div>

{% endblock %}
