{% extends 'ComSemApp/sidebar.html' %}

{% block content %}
	<div class="row">

		<div class="col-lg-8 col-md-8 col-sm-12">

			<div class="card-box" style="min-height:600px;">

				<div class="row">
					<div class="col-6">
						<h4 class="m-t-0 header-title">
							<b>My Courses</b>
						</h4>
						<p class="text-muted m-b-30 font-14">
							<?=$institutionName?>
						</p>
					</div>

					<!-- course status button group -->
					<div class="col-6">

						<div class="btn-group float-right" data-toggle="buttons">
							<label class="btn btn-sm btn-outline-primary active" id="showActiveCourses">
								<input type="radio" autocomplete="off" checked> Active
							</label>
							<label class="btn btn-sm btn-outline-primary" id="showAllCourses">
								<input type="radio"  autocomplete="off"> All
							</label>

						</div>
					</div>

					<script>
					$(document).ready(function(){
						$("#showActiveCourses").on("click", function(){
							$(".course-archived").hide();
						});

						$("#showAllCourses").on("click", function(){
							$(".courseRow").show();
						});
					});
					</script>
				</div>


				<div class="panel-body" style="min-height: 150px;">

					{% if courses %}
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Active</th>
								<th>Session</th>
								<th>Year</th>
								<th>Course</th>
								<th>Section</th>
								<th></th>
								<th class="hidden-sm hidden-xs"></th>
							</tr>
						</thead>

						<tbody>

							{% for course in courses %}
								<tr class="courseRow course-{{ course.status }}" course_id="{{ course.id }}" style="display:{% if course.active %}table-row{% else %}none{% endif %}">
									<td class='text-center'><i class='fa fa-lg {% if course.active %}fa-check{% else %}fa-times{% endif %}'></i></td>
									<td>{{ course.session.session_type.name }}</td>
									<td>{{ course.session.start_date.year }}</td>
									<td>{{ course.course_type.name }}</td>
									<td>{{ course.section }}</td>
									<td>
										<a href="{% url 'teacher_course' course.id %}" class="btn btn-sm btn-outline-primary">Course Page</button>
									</td>
									<td class='hidden-sm hidden-xs'>
										<button type='button' class='btn btn-sm btn-outline-primary showStudents'>Show Students</button>
									</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
					{% else %}
						<p>No available courses.</p>
					{% endif %}

					<script>
						// handle the show students buttons. request and insert table content, set row to appear active
						$(document).ready(function(){
							$(".showStudents").click(function(){
								var $courseRow = $(this).parents("tr.courseRow");
								var course_id = $courseRow.attr("course_id");

								$('#courseStudentsTable').load(
									"{% url 'course_students' %}", {'course_id' : course_id},
									function(response){
										$("#courseStudentsTable").html(response);

										// highlight current row by giving it the active class
										$(".courseRow").removeClass('cs-active');
										$courseRow.addClass('cs-active');
									}
								)
								
							});
						});
					</script>
				</div>
			</div>
		</div>


		<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
			<div class="card-box" style="min-height:600px;">

				<h4 class="m-t-0 header-title"><b>Students in Course</b></h4>

				<table id="courseStudentsTable" class="table table-hover"></table>

			</div>
		</div>

	</div>

{% endblock %}
