{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<div class="page-title-box">
			<h4 class="page-title">View Worksheet</h4>
			<div class="clearfix"></div>
		</div>
	</div>
</div>



<div class="row">
	<div class="col-sm-6">
		<!-- Worksheet Info -->
		<div class="portlet">

			<div class="portlet-heading portlet-default">
				<h4 class="portlet-title m-t-0 header-title"><b>Worksheet Info</b></h4>

				<div class="portlet-widgets">
					<a data-toggle="collapse" data-parent="#accordion1" href="#worksheetInfoPortlet"><i class="ion-minus-round"></i></a>
				</div>

				<div class="clearfix"></div>

			</div>

            <div id="worksheetInfoPortlet" class="panel-collapse collapse show">

				<div class="portlet-body">
					<h5>Course:
						<span class="float-right">{{ course }}</span>
					</h5>
					<h5>Worksheet Number:
						<span class="float-right">{{ worksheet.get_number }}</span>
					</h5>
					<h5>Date:
						<span class="float-right">{{ worksheet.date }}</span>
					</h5>
					<h5>Topic:
						<span class="float-right">{{ worksheet.topic }}</span>
					</h5>
				</div>

			</div>
        </div>
        {% if worksheets %}
        <div class="portlet">
            <div class="portlet-heading portlet-default">
                <h4 class="portlet-title m-t-0 header-title"><b>Other Course Worksheets</b></h4>
            </div>
            <br>
            {% include 'ComSemApp/teacher/course_worksheets_shortcut.html'%}
        </div>
        {% endif %}
	</div>

    <div class="col-sm-6">

        <!-- Worksheet contents -->
        <div class="portlet" style="min-height:400pxs;max-height-400px; overflow-y:scroll">

			<div class="portlet-heading portlet-default">
				<h4 class="portlet-title m-t-0 header-title"><b>Worksheet Expressions</b></h4>

				<div class="portlet-widgets">

					<a data-toggle="collapse" data-parent="#accordion1" href="#worksheetExpressionsPortlet"><i class="ion-minus-round"></i></a>

				</div>
				<div class="clearfix"></div>

			</div>

			<div id="worksheetExpressionsPortlet" class="panel-collapse collapse show">
				<div class="portlet-body">

					<table class="table table-hover table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>All-Do</th>
								<th>Student</th>
								<th>Expression</th>
							</tr>
						</thead>
						<tbody name="ExpressionTable">
							{% for expression in worksheet.expressions.all %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>
										{% if expression.all_do %}
											<i class='fa fa-check'></i>
										{% endif %}
									</td>
									<td>
										{% if expression.student %}
											{{ expression.student }}
										{% else %}
											<b></b>anon.</b>
										{% endif %}
									</td>
									<td>
										{{ expression.expression }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
    <div class="col-12">

		<!-- Student submissions -->

		<div class="card-box">
			<h4 class="m-t-0 header-title"><b>Submissions</b></h4>

			{% if submissions %}
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>Student</th>
						<th>Attempt Number</th>
						<th>Date</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for submission in submissions %}
						<tr>
							<td>{{ submission.student }}</td>
							<td>{{ submission.get_number }}</td>
							<td>{{ submission.date }}</td>
							<td>
								<span class="badge badge-{% if submission.status == 'complete' %}success{% elif submission.status == 'ungraded' %}warning{% else %}danger{% endif %}">{{ submission.status }}</span>
							</td>
							<td>
								<a href="{% url 'teacher:submission' course.id worksheet.id submission.id %}" class='btn btn-sm btn-outline-primary submit-btn' onClick="linkFunction()">View Submission</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
			{% else %}
			<h5>No submissions.</h5>
			{% endif %}

		</div>

	</div>
</div>
<script>
function linkFunction(){ // vhl prevents users from triggering the ML to many times.
    let buttonList = document.getElementsByClassName("submit-btn");
    for(let i = 0; i < buttonList.length; i++){
        buttonList[i].style.visibility = 'hidden';
    } 
}
</script>
{% endblock %}
