{% extends 'ComSemApp/sidebar.html' %}

{% load static %}

{% block content %}

<form action="{% url 'teacher:submission' course.id worksheet.id submission.id %}" method="POST">
	{% csrf_token %}

	<input hidden name='studentSubmissionID' value="<?=$studentSubmissionID?>" />
	<input hidden name='worksheetID' value="<?=$worksheetID?>" />

	<!-- Page-Title -->
	<div class="row">
		<div class="col-sm-12">
			<div class="page-title-box">
				<h4 class="page-title">Assess Submission</h4>
				<button class="btn btn-success float-right" type="submit">Submit Assessment</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12">

			<div class="portlet">
				<div class="portlet-heading portlet-default">

					<h4 class="portlet-title m-t-0 header-title"><b>Submission Details</b></h4>

					<div class="portlet-widgets">

						<a data-toggle="collapse" data-parent="#accordion1" href="#submissionInfoPortlet"><i class="ion-minus-round"></i></a>

					</div>

					<div class="clearfix"></div>
				</div>

				<div id="submissionInfoPortlet" class="panel-collapse collapse show">
					<div class="portlet-body">
						<div class="row">
							<div class="col-sm-12 col-md-5">
								<p>
									Course: <span class='float-right'>{{ course }}</span>
								</p>
								<p>
									Worksheet Number: <span class='float-right'>{{ worksheet.get_number }}</span>
								</p>
								<p>
									Topic: <span class='float-right'>{{ worksheet.topic }}</span>
								</p>
							</div>
							<div class="col-sm-12 col-md-5 ml-auto">
								<p>
									Student name: <span class='float-right'>{{ submission.student }}</span>
								</p>
								<p>
									Attempt Number: <span class='float-right'>{{ submission.get_number }}</span>
								</p>
								<p>
									Submission Date: <span class='float-right'>{{ submission.date }}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">

			<div class="card-box">

				<h4 class="header-title m-t-0 m-b-30">Submitted Expressions</h4>



				<!-- EXPRESSIONS -->
				<div class="tabs-vertical-env">
					<ul class="nav tabs-vertical">
						{% for attempt in submission.attempts.all %}
						<li class="nav-item">
							<a href="#s-{{ forloop.counter }}" class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" aria-expanded="{% if forloop.first %}true{% endif %}">
								Expression {{ forloop.counter }}
							</a>
						</li>
						{% endfor %}
					</ul>

					<div class="tab-content" style="width: 100%">
						{% for attempt in submission.attempts.all %}
						<div class="tab-pane {% if forloop.first %}active{% endif %}" id="s-{{ forloop.counter }}">

							<!-- original expression  -->
							<div class="row submissionRow" style="margin-top: 0px;">
								<div class="col-12">
									<strong>Original Expression: </strong>
									{{ attempt.expression }}
								</div>
							</div>

							<!-- teacher reformulation -->
							<div class="row submissionRow">
								<div class="col-12">
									<strong>Reformulation: </strong>
									{{ attempt.expression.reformulation_text }}
								</div>
							</div>

							<!-- context/vocabulary -->
							<div class="row submissionRow">
								<div class="col-12">
									<strong>Context / Vocabulary: </strong>
									{{  attempt.expression.context_vocabulary }}
								</div>
							</div>

							<!-- pronunciation -->
							<div class="row submissionRow">
								<div class="col-12">
									<strong>Pronunciation: </strong>
									{{  attempt.expression.pronunciation }}
								</div>
							</div>

							<!-- reformulation -->
							<div class="row submissionRow">

								<div class="col-6">
									<strong>Student Reformulation: </strong>
									{{  attempt.reformulation_text }}
								</div>

								{% if attempt.audio %}
								<div class="col-6">
									<audio controls title="Reformulation" style="width: 200px" class="previous_attempt_audio" src="{{ attempt.audio.url }}">
									</audio>
								</div>
								{% else %}
									<i>No Audio Reformulation</i>
								{% endif %}

							</div>



							<!-- Assessment -->
							<div class="row submissionRow">
								<div class="col-12">
									<strong>Assessment Text:</strong><br />

									<div class="radio radio-primary form-check-inline">
                                        <!--vhl text is correct T{{attempt.id}} means text attempt id-->
                                        
										<input type="radio" name="T{{ attempt.id}}" value="1" {% if attempt.correct %} checked{% endif %} id="textCorrect{{ forloop.counter }}">

										<label for="textCorrect{{ forloop.counter }}">
											Correct
										</label>

									</div>
                                    <!--vhl text is incorrect-->
									<div class="radio radio-primary form-check-inline">
										<input type="radio" name="T{{ attempt.id }}"  value="0" {% if attempt.correct is False %} checked{% endif %} id="textIncorrect{{ forloop.counter }}">
										<label for="textIncorrect{{ forloop.counter }}">
											Incorrect
										</label>
									</div>

								</div>

                            </div>
                            
                            {% if attempt.audio %} <!--vhl this shows up if there is audio to grade-->
                            <div class="row submissionRow">
								<div class="col-12">
									<strong>Assessment Audio:</strong><br/>

									<div class="radio radio-primary form-check-inline">
                                        <!--vhl audio is correct-->
										<input type="radio" name="A{{ attempt.id }}" value="1" {% if attempt.audioCorrect %} checked{% endif %} id="audioCorrect{{ forloop.counter }}"> <!--vhl A attempt.id means audio attempt id-->

										<label for="audioCorrect{{ forloop.counter }}">
											Correct
										</label>

									</div>

									<div class="radio radio-primary form-check-inline"> <!--vhl audio is incorrect-->
										<input type="radio" name="A{{ attempt.id }}"  value="0" {% if attempt.audioCorrect is False %} checked{% endif %} id="audioIncorrect{{ forloop.counter }}">
										<label for="audioIncorrect{{ forloop.counter }}">
											Incorrect
										</label>
									</div>

								</div>

                            </div>
                            {% endif %}

						</div>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>

</form>


<script src="{% static "ComSemApp/js/ComSemRecording-opus.js" %}?{% now "U" %}"></script>

<style>
.submissionRow{
	margin: 20px auto;
}
</style>

{% endblock %}
