{% extends 'ComSemApp/sidebar.html' %}

{% block content %}
<h1>Speaking Practice View</h1><br>

<script>
    var given_time = 15;
    var current_time =15;
    var question_timer = setInterval(function(){
      if(current_time <= 0){
        clearInterval(question_timer);
      }
      document.getElementById("timer_bar").value = given_time - current_time;
      document.getElementById("text_timer").textContent = current_time;
      current_time -= 1;
    }, 1000);
</script>
<br>
<p> You have <span id="text_timer">15 </span> seconds left</p>
<progress value="0" max="15" id="timer_bar"></progress>

<a href="{% url 'student:speaking_practice_results' course.id %}">Results</a>
{% endblock %}
