<div class="col-md-12 col-xl-9">
    <div class="Instructions">
        <h4 class="header-title m-t-0 m-b-20">Self Assessment Instructions</h4>
        <p>This is a new feature with the goal of providing students with the ability 
        to get customized practice on topics they have struggled with. The way this practice
        work is you will recieve an incorrect version of a sentence you have heard or seen in claas
        and will need to speak the correct version quickly after the audio stops playing.
        You will be given a limited amount of time and automatically be graded so you can see where
        you need to improve. Please check each incorrect problem after the review to recieve an in depth
        explanation on your errors.</p>
    </div>
    
    <button class="btn btn-lg btn-disabled w-100" style="pointer-events: none;" enabled> Start Assessment</button>
</div>
