{% load static %}
{% blockcontent %}
<!-- recordmp3 needed by ComSemRecording -->
<script src="{% static 'ComSemApp/js/opus-recorder/dist/recorder.min.js' %}"></script>
<script src="{% static 'ComSemApp/js/ComSemRecording-opus.js' %}?{% now 'U' %}"></script>

<input hidden type="text" id="create_or_update_url">

<!-- original -->
{% if worksheet.display_original %}
<div class="row">
    <div class="col-12">
        <label>Original Expression:</label>
        <button onclick="helpAttemptForm()" type="save" class="btn btn-sm btn-outline-info float-right">Help</button>
        <p id="ExprToEdit">{{ expression.expression }}</p>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <label>Context / Vocabulary:</label>
        <p id="contextVocabulary">{{ expression.context_vocabulary }}</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <label>Pronunciation:</label>
        <p id="pronunciation">{{ expression.pronunciation }}</p>
    </div>
</div>

<!-- teacher reformulation -->
{% if worksheet.display_reformulation_text %}
<div class="row">
    <div class="col-12">
        <label>Reformulation:</label>
        <p id="teacherReformulation">{{ expression.reformulation_text }}</p>
    </div>
</div>
{% endif %}

<!-- reformulation audio -->
{% if worksheet.display_reformulation_audio %}
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="teacherReformulationAudio">Audio Reformulation:</label><br />
                <audio id="teacherReformulationAudio" src="" controls></audio>
            </div>
        </div>
    </div>
    {% if expression.audio %}
        <script>
            $(function(){
                $("#teacherReformulationAudio").attr("src", "{{ expression.audio.url }}")
            })
        </script>
    {% endif %}
{% endif %}

<!-- correction -->
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="CorrectedExpr">Correction:</label>
            <input type="text" class="form-control" value="{{ attempt.reformulation_text|default_if_none:'' }}" id="CorrectedExpr" autocomplete="off" />
        </div>
    </div>
</div>

<div class="row" id="SpeechTranscription" name="SpeechTranscription">
    <button id="transcribeTest" style="margin:10px; margin-right:20px">Transcribe Test</button>
    <div id="transcribeTestResult" name="transcribeTestResult" ><p></p></div>
</div>
<br>

<!-- AUDIO RECORDING -->
<div class="row" id="display_reformulation_audioRow" style="{% if not worksheet.display_reformulation_audio %}display: none{% endif %}">
    {% include 'ComSemApp/audio_recording.html' %}
</div>

{% if attempt.audio %}
<script>
    $(function(){
        $('#recordingslist').html("<audio controls id='audioElement' src='" + "{{ attempt.audio.url }}" + "' type='audio/mpeg'></audio>");
        $('#deleteRecordingButton').show();
    })
</script>
{% endif %}


<div class="row">
    <div class="col-12 text-center">
        <div class="btn-group" role="group">
            <button type="button" id="saveAttempt" class="btn btn-outline-success">Submit</button>
        </div>
    </div>
</div>


<script>

    // source: https://tutorialzine.com/2017/08/converting-from-speech-to-text-with-javascript
    var SpeechRecognition;
    var recognition;
    var noteContent = '';
    var speechSupport = false;
    try {
        SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        recognition = new SpeechRecognition();

        speechSupport = true;
    }
    catch(e) {
        console.error(e);
        $("#SpeechTranscription").hide();
        alert("No browser support for audio transcription. Please sign in with Google Chrome to use this feature.");
    }

    recognition.continuous = true;
    recognition.onresult = function(event) {
        var current = event.resultIndex;
        var transcript = event.results[current][0].transcript;
        var mobileRepeatBug = (current == 1 && transcript == event.results[0][0].transcript);
        if(!mobileRepeatBug) {
            noteContent += transcript;
            if (noteContent === '') {
                $('#transcribeTestResult').html("<p>Please try again.</p>");
            }
            else {
                $('#CorrectedExpr').val(noteContent);
                $('#transcribeTestResult').html("");
                noteContent = '';
            }
        }
    }

    var recording = false;

    $("#transcribeTest").click(function(e) {
        if (speechSupport === true) {
            if (recording === false) {
                $(this).css('color', 'red');
                recording = true;
                recognition.start();
            }
            else {
                recording = false;
                recognition.stop();
                $(this).css('color', 'black');
            }
        }
    });

    // end voice recognition

$("#saveAttempt").click(function(e){
    e.preventDefault()

    if( $("#CorrectedExpr").val().trim() == "" ){
        // must have a valid expression
        alert("Please enter a correction")
        return;
    }

    // because of audio, we must send a formdata object
    var attemptFormData = new FormData();
    attemptFormData.append( 'reformulation_text', $("#CorrectedExpr").val() );

    var reformulation_audio = $("#recordingslist #audioElement").length > 0 ? true : false
    if (reformulation_audio){
        attemptFormData.append( 'audio', audioReformulationBlob )
    } else {
        attemptFormData.append('delete_audio', true)
    }

    $.ajax({
        type: "POST",
        url: $("#create_or_update_url").val(),
        data: attemptFormData,
        processData: false,
        contentType: false,
        success: function(response){
            cs_notification('success', "Expression Saved")
            // update expressions table
            drawExpressionsTable();
        },
        error: function(jqXHR, textStatus, errorThrown){
            cs_ajax_error(jqXHR, textStatus, errorThrown)
        },
    });

    clearEditor()
});
</script>

<script>
function helpAttemptForm() {
	Tour.run([
	    {
			element: $('#teacherReformulationAudio'),
			content: 'Click HERE to listen to your teacher\'s correction.'
		},
		{
			element: $('#CorrectedExpr'),
			content: 'Write the correct version here.'
		},
		{
			element: $('#display_reformulation_audioRow'),
			content: 'Click the RED button to record your correct version.'
		},
		{
			element: $('#saveAttempt'),
			content: 'When you are finished, click HERE to save this correction and SEND it to your teacher.'
		},
		]);
}
</script>
{% endblock %}