{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

<div class="row">

	<div class="col-md-12 col-lg-3">
		{% include 'ComSemApp/course_details.html' %}
	</div>

	<div class="col-md-12 col-lg-9">

		<div class="card-box">

			<h4 class="header-title m-t-0 m-b-20">Worksheets</h4>

			{% if worksheets %}
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
						<th>Topic</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for worksheet in worksheets %}

					<tr id="worksheet-{{ worksheet.id }}">
						<td>{{ forloop.counter }}</td>
						<td>{{ worksheet.date }}</td>
						<td>{{ worksheet.topic }}</td>
						<td>
							<span class='badge badge-{{ worksheet.status_color }}'>{{ worksheet.last_submission_status }}</span>
						</td>
						<td>
							<a href="{{ worksheet.link_url }}" class='btn btn-sm btn-outline-primary'>{{ worksheet.button_text }}</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
			{% else %}
				<p>No worksheets available</p>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
