{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

<div class="row">

	<div class="col-md-12 col-xl-3">
		{% include 'ComSemApp/course_details.html' %}
		{% if worksheets %} <!-- prevents students from practicing if there are no worksheets -->
			<div class="card-box"> <!--2 Buttons  First: that takes students to a review sheet generator Second: to a speaking practice generator-->
				<a href="{% url 'student:generate_reviewsheet' course.id  %}" class="btn btn-lg btn-success w-100 mb-1"><i  class="icon fa fa-refresh mr-1"></i>Listening Practice</a>
				<a href="{% url 'student:speaking_practice_generator' course.id %}" class="btn btn-lg btn-success w-100 mb-1"><i  class="icon fa fa-refresh mr-1"></i>Speaking Practice</a>
			</div>
		{% endif %}
	</div>

	<div class="col-md-12 col-xl-9">

		<div class="card-box">

			<h4 class="header-title m-t-0 m-b-20">Worksheets</h4>

			{% if worksheets %} <!--if worksheets are in the table-->
			<table class="table table-hover tablesorter">
				<thead>
					<tr>
						<th>#</th>
						<th>Date</th>
						<th>Topic</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody> <!--displays current worksheets-->
					{% for worksheet in worksheets %}

					<tr id="worksheet-{{ worksheet.id }}">
						<td>{{ worksheet.get_number }}</td>
						<td>{{ worksheet.date }}</td>
						<td>{{ worksheet.topic }}</td>
						<td>
							<span class='badge badge-{{ worksheet.status_color }}'>{{ worksheet.last_submission_status }}</span>
						</td>
						<td>
							<a href="{{ worksheet.link_url }}" class='btn btn-sm btn-outline-primary'>{{ worksheet.button_text }}</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
			{% else %} <!-- message displays if no worksheets are available-->
				<p>No worksheets available</p>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
