{% if expressions %}
    <table class="table table-hover " id="expressionsTable">
        <thead>
            <tr>
                <th class='expressionNumberCol'>#</th>
                <th>All-Do</th>
                <th>Expression</th>
                <!-- <th class='hidable'>Correction</th> -->
                <th class='hidable'>Assigned To</th>
                <th class=''>
                    <span class='glyphicon glyphicon-arrow-right' style='font-size:20px;left:10px;'></span>
                </th>
            </tr>
            {% for expression in expressions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {% if expression.all_do %}
                            <i class='fa fa-check'></i>
                        {% else %}
                            <i class='fa fa-times'></i>
                        {% endif %}
                    </td>
                    <td>
                        {{ expression.expression }}
                    </td>
                    <td>
                        {% if expression.student %}
                            {{ expression.student }}
                        {% else %}
                            anon.
                        {% endif %}
                    </td>
                    <td>
                        {% if expression.attempt %}
                        <button class='btn btn-outline-primary btn-sm editExpression' url="{% url 'student:update_attempt' course_id=course.id worksheet_id=worksheet.id submission_id=submission.id attempt_id=expression.attempt.id %}">Update Attempt</button>
                        {% else %}
                        <button class='btn btn-outline-primary btn-sm editExpression' url="{% url 'student:create_attempt' course_id=course.id worksheet_id=worksheet.id submission_id=submission.id expression_id=expression.id %}">Create Attempt</button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </thead>
    </table>

    <script>
    $(function(){
        // bind edit and delete buttons to their functions
        $('.editExpression').on('click', function(e){
            $('#expressionsTableContainer tr').removeClass('cs-active');
            $(this).parents('tr').addClass('cs-active');
            populateEditor($(this).attr('url'));
        });
    })
    </script>

{% else %}
    <h5 class='text center'>This worksheet has no expressions.</h5>
{% endif %}