{% extends 'ComSemApp/sidebar.html' %}

{% load static %}

{% block content %}

<form action="{% url 'student:create_reviewsheet' course.id  %}" method="GET">
<div class="row">
	
	<div class="col-md-12 col-lg-3">
		{% include 'ComSemApp/course_details.html' %}
		<div class="card-box">
			<input class="btn btn-lg btn-success w-100" type="submit" value='Start Review'>
		</div>
	</div>

	<div class="col-md-12 col-lg-9">
		
		<div class="card-box">
			
			<h4 class="header-title m-t-0 m-b-20">Reviewsheet Generator</h4>
            <p> 
                Please select at least one expression before generating a worksheet. Expressions can be shown by clicking on the plus icon next to the name of each completed worksheet.
            </p>
			{% if worksheets %}
			<table class="table table-hover tablesorter reviewsheet-table">
				<thead>
				    
					<tr>
						<th class="w-30">Date</th>
						<th>Worksheet</th>
					</tr>
				</thead>
				<tbody>
				
			            {% for worksheet in worksheets %}
                            <!--this is what expands and collapses the worksheet vhl-->
  	                        <tr>
					            <td><em>{{ worksheet.date }}</em></td>
						        <td><div class="d-flex justify-content-between">
									<h5 class="w-90"><strong>{{ worksheet.topic }}</strong></h5>
									<i data-toggle="collapse" data-target='#worksheet{{ worksheet.id}}' class="clickable fa fa-plus show-icon"></i>
								</div>
								
								<div id='worksheet{{ worksheet.id }}' class="collapse">
									{% for e in worksheet.expression_list %}
										<input type='checkbox' name='choice' id='expression{{ e.id }}' value='{{ e.id }}'>
										<label for='expression{{ e.id }}'>{{ e.expression }}</label><br>
									{% endfor %}
								</div>
								</td>
                            </tr>
					    {% endfor %}
				    </tbody>
				{% include 'ComSemApp/tablesorter_footer.html'%}
			</table>
			{% else %}
				<p>No worksheets available</p>
			{% endif %}
		</div>
		
	</div>
	
</div>
</form> 

<script>
	$(".show-icon").click(function() {
		$(this).toggleClass("fa-plus");
		$(this).toggleClass("fa-minus");
	});
</script>

{% endblock %}
