{% extends 'ComSemApp/sidebar.html' %}

{% block content %}

<h3>Practice Sessions</h3>
{% if sessions %}
<table class='table table-hover tablesorter'>
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Average Score</th>
            <th></th>
        </tr>
    </thead>
    <tbody name='sessionsTable'>
        {% for session in sessions %}
        <tr session_pk='{{ session.id }}'>
            <td>
                {{ session.id }}
            </td>
            <td>
                {{ session.date }}
            </td>
            <td>
                {{ session.avg_score }}%
            </td>
            <td>
                <button class='btn btn-sm btn-outline-primary editExpression'>
                    Review Session {{session.id}}
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% include 'ComSemApp/tablesorter_footer.html'%}
</table>
{% else %}
    <p>No sessions have been created yet. </p>
{% endif %}

<h3>Review Requests</h3>
{% if requests %}
<table class='table table-hover tablesorter'>
    <thead>
        <tr>
            <th>Expression</th>
            <th>Date</th>
            <th>Session</th>
            <th>Pending/Reviewed</th>
            <th></th>
        </tr>
    </thead>
    <tbody name='requestTable'>
        {% for request in requests %}
        <tr request_pk='{{ request.id }}'>
            <td>
                {{ request.expression }}
            </td>
            <td>
                {{ request.date }}
            </td>
            <td>
                {{ request.session }}%
            </td>
            <td>
                {% if request.pending %}
                    Pending
                {% else %}
                    Reviewed
                {% endif %}
            </td>
            <td>
                <button class='btn btn-sm btn-outline-primary editExpression'>
                    Review
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% include 'ComSemApp/tablesorter_footer.html'%}
</table>
{% else %}
    <p>No requests have been created yet. </p>
{% endif %}





{% endblock %}