{% extends 'ComSemApp/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

<body>

	<div class="wrapper-page">

		{% include 'registration/comsem_logo.html' %}

		<form class="form-horizontal m-t-20" method="post" name="loginform" id="loginform">

			<div class="alert alert-danger" style='display: none'>
				Sorry, your account could not be found.
			</div>

			{% csrf_token %}

			<div class="form-group row">
				<div class="col-12">
					<div class="input-group">
						<span class="input-group-addon"><i class="mdi mdi-account"></i></span>
						<input name="username" id="username" class="form-control" type="text" required="" placeholder="username" autofocus>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-12">
					<div class="input-group">
						<span class="input-group-addon"><i class="mdi mdi-key"></i></span>
						<input class="form-control" type="password" name="password" id="password" required="" placeholder="password">
					</div>
				</div>
			</div>

			{% if form.errors %}
			<div class="alert alert-danger mt-1" role="alert">
				Your username and password didn't match. Please try again.
			</div>
			{% endif %}

			<!-- TO DO  -->
			<!-- <div class="form-group row">
				<div class="col-12">
					<div class="checkbox checkbox-primary">
						<input id="checkbox-signup" type="checkbox">
						<label for="checkbox-signup">
							Remember me
						</label>
					</div>

				</div>
			</div> -->

			<div class="row form-group m-t-20">
				<div class="col-sm-8" style="padding-top: 17px;">
					<a href="{% url 'password_reset' %}" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?
					</a>
				</div>
				<div id = "test" class="col-sm-4 text-right">
					<button  class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Log In
					</button>
				</div>
			</div>

			<script>
				Tour.run([
					{
						element: $('#test'),
						content: 'last tour step'
					},
					]);

			</script>



			<!-- <div class="col-sm-5 text-right">
				<a href="pages-register.html" class="text-muted">Create an account</a>
			</div> -->
		</form>
	</div>

</body>

{% endblock %}
