{% extends 'ComSemApp/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<body>
	<div class="wrapper-page">
		{% if validlink %}

		{% include 'registration/comsem_logo.html' %}


		<form method="post" role="form" class="text-center m-t-20">

			{% csrf_token %}

			<p class="text-muted">
				Please enter a new password
			</p>

			<div class="form-group row">
				<div class="col-12">
					<div class="input-group">
						<span class="input-group-addon"><i class="mdi mdi-key"></i></span>
						<input name="new_password1" type="password" class="form-control" required="" placeholder="new password" required="" id="id_new_password1">
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-12">
					<div class="input-group">
						<span class="input-group-addon"><i class="mdi mdi-key"></i></span>
						<input type="password" name="new_password2" class="form-control" required="" placeholder="type it again" id="id_new_password2"></p>
					</div>
				</div>
			</div>

			<div class="row form-group m-t-20">
				<div class="col-sm-12 text-right">
					<button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit">Reset
					</button>
				</div>
			</div>

		</form>




		{% else %}

		{% include 'registration/comsem_logo.html' %}
		<p class="m-t-20">
			The password reset link was invalid, possibly because it has already been used.<br />
			Please <a href="{% url 'password_reset' %}">request a new password reset</a>.
		</p>
		{% endif %}
	</div>
</body>
{% endblock %}
