{% extends 'ComSemApp/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<body>

	<div class="wrapper-page">

		{% include 'registration/comsem_logo.html' %}

		<form method="post" role="form" class="text-center m-t-20">

			{% csrf_token %}

			<p class="text-muted">
				Please enter your email address and instructions will be sent to you!
			</p>
			<div class="form-group m-b-0">
				<div class="input-group">
					<input name="email" type="email" class="form-control" placeholder="email" required="" id="id_email">
					<span class="input-group-btn"> <button type="submit" class="btn btn-email btn-primary waves-effect waves-light">Reset</button> </span>
				</div>
			</div>

			{% if form.errors %}
			<div class="alert alert-danger mt-1" role="alert">
				{% for error in form.errors %}
					{{ error }}
				{% endfor %}
			</div>
			{% endif %}

		</form>

	</div>

</body>

{% endblock %}
