{% extends 'ComSemApp/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<body>

	<div class="wrapper-page">

		{% include 'registration/comsem_logo.html' %}

		<p class="m-t-20">
			We've emailed you instructions for resetting your password, if an account exists with the email you entered.
		</p>
		<p>
			If you don't receive an email, please make sure you've entered the address you registered with,
			and check your spam folder.
		</p>

		<div class="row">
			<div class="col-12 text-right">
				<a class="btn btn-email btn-primary waves-effect waves-light" href="{% url 'login' %}">back to login</a>
			</div>
		</div>

	</div>

</body>


{% endblock %}
